
	<span>Manage Rule</span> <span style="float:right"><md-button class="md-raised md-primary">Save</md-button></span>
<md-content class="md-padding">

    <form name="userForm">

        <div layout layout-sm="column">
            <md-input-container flex>
                <label>Rule Name</label>
                <input ng-model="vm.user.firstName">
            </md-input-container>
            <md-input-container flex>
                <label>Where to Apply ?</label>
                <input ng-model="vm.user.lastName">
            </md-input-container>
        </div>
        <div layout layout-sm="column">
            <md-input-container flex>
                <label>Operator</label>
                <input ng-model="user.state">
            </md-input-container>
            <md-input-container flex>
                <label>Promotion Offered</label>
                <input ng-model="user.state">
            </md-input-container>

        </div>

    </form>
</md-content>
