<!-- TODO: Replace table to table component when https://github.com/angular/material/issues/796 will closed -->
<div class="table-responsive-vertical md-whiteframe-z1">
    <table id="table" class="table table-hover table-bordered">
	    <div class="md-toolbar-tools">
        <span>Call Summary</span>
    </div>
        <thead>
        <tr>
            <th>Caller ID</th>
            <th>Name</th>
            <th>Promotion Offered</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="data in vm.tableData track by $index">
            <td data-title="ID">{{$index + 1}}</td>
            <td data-title="Issue"><md-button ui-sref="showDialogue($event)">{{data.issue}}</md-button></td>
            <td data-title="Status">{{data.status}}</td>
        </tr>
        </tbody>
    </table>
</div>
