<!-- TODO: Replace table to table component when https://github.com/angular/material/issues/796 will closed -->
<div layout-gt-md="row">
  <panel-widget flex title="Call Type" template="app/views/partials/visitors.html" class="fixed-height-widget"></panel-widget>
  <panel-widget flex title="Promotion Trend" template="app/views/partials/warnings.html" class="fixed-height-widget"></panel-widget>
</div>

<div class="table-responsive-vertical md-whiteframe-z1">
    <table id="table" class="table table-hover table-bordered">
	    <div class="md-toolbar-tools">
        <span>Call Details</span>
    </div>
        <thead>
        <tr>
            <th>Caller ID</th>
            <th>Name</th>
            <th>Promotion Offered</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="data in vm.tableData track by $index">
            <td data-title="ID">{{$index + 1}}</td>
            <td data-title="Issue"><md-button ng-click="vm.showDialogue(data)">{{data.issue}}</md-button></td>
            <td data-title="Status">{{data.status}}</td>
        </tr>
        </tbody>
    </table>
</div>
